.wave {
  position: absolute;
  width: 496px; 
  height: 46px; 
  overflow: hidden;;
  top: 252px;
  left: 0;
  right: 0;
  width: 398px;
  margin: 0 auto;

  & > div {
    opacity: 1;
    transition: opacity 2s;
  }
  &.opacity0 > div {
    opacity: 0;
  }
}

.waves1{
  position: absolute;
  width: 110%;
  height: 500px;
  z-index: 50;
  background-size: 40px 20px;
  background-image: 
  radial-gradient(circle at 50% 100%, MintCream 10%, SkyBlue 11%, SkyBlue 23%, MintCream 24%, MintCream 30%, PowderBlue 31%, PowderBlue 43%, MintCream 44%, MintCream 50%, PaleTurquoise 51%, PaleTurquoise 63%, MintCream 64%, MintCream 71%, transparent 71%, transparent);  
  
  animation: waves 3s ease-in-out infinite;
  -o-animation: waves 3s ease-in-out infinite;
  -moz-animation: waves 3s ease-in-out infinite;
  -webkit-animation: waves 3s ease-in-out infinite;
}

.waves2{
  position: absolute;
  width: 110%;
  height: 500px;
  z-index: 10;
  background-size: 40px 20px;
  background-image: 
  radial-gradient(circle at 100% 150%, PowderBlue 24%, MintCream 25%, MintCream 28%, LightCyan 29%, LightCyan 36%, MintCream 36%, MintCream 40%, transparent 40%, transparent),
  radial-gradient(circle at 0 150%, PowderBlue 24%, MintCream 25%, MintCream 28%, LightCyan 29%, LightCyan 36%, MintCream 36%, MintCream 40%, transparent 40%, transparent), 
  radial-gradient(circle at 100% 50%, MintCream 5%, MediumTurquoise 6%, MediumTurquoise 15%, MintCream 16%, MintCream 20%, PowderBlue 21%, PowderBlue 30%, MintCream 31%, MintCream 35%, LightCyan 36%, LightCyan 45%, MintCream 46%, MintCream 49%, transparent 50%, transparent),
  radial-gradient(circle at 0 50%, MintCream 5%, MediumTurquoise 6%, MediumTurquoise 15%, MintCream 16%, MintCream 20%, PowderBlue 21%, PowderBlue 30%, MintCream 31%, MintCream 35%, LightCyan 36%, LightCyan 45%, MintCream 46%, MintCream 49%, transparent 50%, transparent);  
  
  animation: waves2 3s linear infinite;
  -o-animation: waves2 3s linear infinite;
  -moz-animation: waves2 3s linear infinite;
  -webkit-animation: waves2 3s linear infinite;
}

.waves3{
  position: absolute;
  width: 110%;
  height: 500px;
  z-index: 100;
  background-size: 40px 20px;
  background-image: 
  radial-gradient(circle at 100% 150%, PowderBlue 24%, MintCream 25%, MintCream 28%, LightCyan 29%, LightCyan 36%, MintCream 36%, MintCream 40%, transparent 40%, transparent),
  radial-gradient(circle at 0 150%, PowderBlue 24%, MintCream 25%, MintCream 28%, LightCyan 29%, LightCyan 36%, MintCream 36%, MintCream 40%, transparent 40%, transparent);  
  
  animation: waves2 3s linear infinite;
  -o-animation: waves2 3s linear infinite;
  -moz-animation: waves2 3s linear infinite;
  -webkit-animation: waves2 3s linear infinite;
}

@keyframes waves {
  0%{left:4px;top:-1px}
  25%{left:0;top:-2px}
  50%{left:-4px;top:-1px}
  75%{left:0;top:0}
  100%{left:4px;top:-1px}
}
@-o-keyframes waves {
  0%{left:4px;top:-1px}
  25%{left:0;top:-2px}
  50%{left:-4px;top:-1px}
  75%{left:0;top:0}
  100%{left:4px;top:-1px}
}
@-moz-keyframes waves {
  0%{left:4px;top:-1px}
  25%{left:0;top:-2px}
  50%{left:-4px;top:-1px}
  75%{left:0;top:0}
  100%{left:4px;top:-1px}
}
@-webkit-keyframes waves {
  0%{left:4px;top:-1px}
  25%{left:0;top:-2px}
  50%{left:-4px;top:-1px}
  75%{left:0;top:0}
  100%{left:4px;top:-1px}
}

@keyframes waves2 {
  0%{left:-4px;top:1px}
  25%{left:0;top:2px}
  50%{left:4px;top:1px}
  75%{left:0;top:0}
  100%{left:-4px;top:1px}
}
@-o-keyframes waves2 {
  0%{left:-4px;top:1px}
  25%{left:0;top:2px}
  50%{left:4px;top:1px}
  75%{left:0;top:0}
  100%{left:-4px;top:1px}
}
@-moz-keyframes waves2 {
  0%{left:-4px;top:1px}
  25%{left:0;top:2px}
  50%{left:4px;top:1px}
  75%{left:0;top:0}
  100%{left:-4px;top:1px}
}
@-webkit-keyframes waves2 {
  0%{left:-4px;top:1px}
  25%{left:0;top:2px}
  50%{left:4px;top:1px}
  75%{left:0;top:0}
  100%{left:-4px;top:1px}
}