/* Mixins */
.kaiti, text.kaiti, g.kaiti {
  font-family: KaiTi, FangSong, SimHei, SimSun; }

.inline {
  display: inline-block; }

.block {
  display: block; }

/* Base Application Styles */
body {
  color: #000;
  background-color: #515151; }

.index img {
  margin: 40px auto;
  border-radius: 4px;
  background: #fff;
  display: block; }

.index .notice {
  margin: 20px auto;
  padding: 15px 0;
  text-align: center;
  border: 1px solid #000;
  border-width: 1px 0;
  background: #666; }

svg.chessboard {
  cursor: default; }

text.kaiti, g.kaiti {
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
  color: #dd4444;
  font-size: 30px; }

div.timer {
  padding-bottom: 20px; }
  div.timer button {
    border-radius: 20px;
    pointer-events: none;
    font-size: 26px;
    padding: 0 20px; }

g.frontlines {
  pointer-events: none; }
  g.frontlines path {
    stroke: red; }

.menu {
  vertical-align: top;
  width: 150px; }
  .menu .activePlayer p.output {
    text-align: center;
    background: navajowhite; }
  .menu p.lbl {
    text-align: center;
    width: 100%;
    margin: 20px 0;
    padding: 7px;
    background: #feccb1;
    /* Old browsers */
    color: black; }
  .menu button {
    width: 100%;
    margin: 10px 0;
    padding: 7px;
    letter-spacing: 2px; }
