/* Mixins */
@mixin user-cant-select() {
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}
@font-face{
  font-family: 'zhuanti';
  src: url("./fonts/白舟篆書.ttf");
  // src: url("./fonts/小钻字库-sw.ttf"); // maybe
  // src: url("./fonts/方正小篆体.ttf"); // weird
  // src: url("./fonts/白舟篆古印.ttf"); // similar
  // src: url("./fonts/经典繁方篆.ttf");
  // src: url("./fonts/王汉宗印篆体繁.ttf");
  // src: url("./fonts/北师大说文小篆.ttf");
  // src: url("./fonts/超世纪粗印篆.ttf");
  // src: url("./fonts/超世纪细印篆.ttf");
}

.kaiti {
  font-family: 'zhuanti', KaiTi, FangSong, SimHei, SimSun;
}

$red: red;
$redText: darken($red, 10%);
$redHighlight: brown;
$redIntersectionHighlight: lighten($red, 20%);

$black: #222;
$blackText: darken(white, 0);
$blackHighlight: #555;
$blackIntersectionHighlight: lighten($black, 20%);

$intersectionHighlight: rgb(200, 150, 100);

.inline {
  display: inline-block;
}

// for wooden surface
$board-color: lighten(#AF8169, 12%);
.wooden{
  background-color: lighten($board-color, 4);
  background-image: linear-gradient(90deg, lighten($board-color, 7%) 50%, transparent 50%),
  linear-gradient(90deg, lighten($board-color, 10%) 50%, transparent 50%),
  linear-gradient(90deg, transparent 50%, lighten($board-color, 12%) 50%),
  linear-gradient(90deg, transparent 50%, lighten($board-color, 13%) 50%);
  background-size: 13px, 29px, 37px, 53px;
}