@charset "UTF-8";
/* Mixins */
@font-face {
  font-family: 'zhuanti';
  src: url("./fonts/白舟篆書.ttf"); }

.kaiti {
  font-family: 'zhuanti', KaiTi, FangSong, SimHei, SimSun; }

.inline {
  display: inline-block; }

.wooden {
  background-color: #cbae9e;
  background-image: linear-gradient(90deg, #d1b6a8 50%, transparent 50%), linear-gradient(90deg, #d6beb2 50%, transparent 50%), linear-gradient(90deg, transparent 50%, #dac4b9 50%), linear-gradient(90deg, transparent 50%, #dbc7bc 50%);
  background-size: 13px, 29px, 37px, 53px; }

g.intersection {
  fill-opacity: 0;
  fill: #c89664; }
  g.intersection.highlighted {
    cursor: -webkit-grab;
    fill-opacity: 0.5; }
    g.intersection.highlighted.redHighlighted {
      fill: #ff6666; }
    g.intersection.highlighted.blackHighlighted {
      fill: #555555; }
  g.intersection.highlighted:hover {
    fill-opacity: 0.7; }
  g.intersection.occupied {
    pointer-events: none; }
