/* Mixins */
.kaiti {
  font-family: KaiTi, FangSong, SimHei, SimSun; }

.inline {
  display: inline-block; }

.block {
  display: block; }

g.intersection {
  fill-opacity: 0;
  fill: #c89664; }

g.intersection.highlighted {
  cursor: -webkit-grab;
  fill-opacity: 0.5; }

g.intersection.highlighted.Coordinate_STATE__redHighlighted {
  fill: #ff6666; }

g.intersection.highlighted.Coordinate_STATE__blackHighlighted {
  fill: #555555; }

g.intersection.highlighted:hover {
  fill-opacity: 0.7; }

g.intersection.occupied {
  pointer-events: none; }
