@charset "UTF-8";
/* Mixins */
@font-face {
  font-family: 'zhuanti';
  src: url("./fonts/白舟篆書.ttf"); }

.kaiti, text.kaiti, g.kaiti {
  font-family: 'zhuanti', KaiTi, FangSong, SimHei, SimSun; }

.inline {
  display: inline-block; }

.wooden {
  background-color: #cbae9e;
  background-image: linear-gradient(90deg, #d1b6a8 50%, transparent 50%), linear-gradient(90deg, #d6beb2 50%, transparent 50%), linear-gradient(90deg, transparent 50%, #dac4b9 50%), linear-gradient(90deg, transparent 50%, #dbc7bc 50%);
  background-size: 13px, 29px, 37px, 53px; }

/* Base Application Styles */
body {
  color: #000;
  background-color: #515151; }

.index img {
  margin: 40px auto;
  border-radius: 4px;
  background: #fff;
  display: block; }

.index .notice {
  margin: 20px auto;
  padding: 15px 0;
  text-align: center;
  border: 1px solid #000;
  border-width: 1px 0;
  background: #666; }

/* Board Related */
svg.chessboard {
  left: 0;
  right: 0;
  margin: 0 auto;
  cursor: default;
  border-radius: 5px;
  box-shadow: black 3px 3px 3px 0px; }
  svg.chessboard:focus {
    outline: none; }

g.frontlines {
  pointer-events: none; }
  g.frontlines path {
    stroke: red; }

text.kaiti, g.kaiti {
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
  color: #dd4444;
  font-size: 30px; }

g.river text {
  fill: #dd4444; }

/* end of Board Related */
.menu .activePlayer p.output {
  text-align: center;
  background: navajowhite; }

.menu p.lbl {
  text-align: center;
  width: 100%;
  margin: 20px 0;
  padding: 7px;
  background: #feccb1;
  /* Old browsers */
  color: black; }

.menu button {
  width: 100%;
  margin: 10px 0;
  padding: 7px;
  letter-spacing: 2px; }

.Main {
  transition: padding 0.3s ease; }
  .Main.is-open {
    padding-left: 256px; }

.align-left {
  text-align: left; }

.align-right {
  text-align: right; }

.z0 {
  z-index: 0; }

.zmin {
  z-index: 1; }

.zmid {
  z-index: 5000; }

.zmax {
  z-index: 9999; }
