@import './Global.scss';

/* Base Application Styles */
body {
  color: #000;
  background-color: #515151;
}

.index img {
  margin: 40px auto;
  border-radius: 4px;
  background: #fff;
  display: block;
}

.index .notice {
  margin: 20px auto;
  padding: 15px 0;
  text-align: center;
  border: 1px solid #000;
  border-width: 1px 0;
  background: #666;
}

/* Board Related */
svg.chessboard {
  // border: 1px solid #555;

  left: 0;
  right: 0;
  margin: 0 auto;
  cursor: default;
  border-radius: 5px;
  box-shadow: black 3px 3px 3px 0px;
  &:focus {
    outline: none;
  }
}

g.frontlines {
  pointer-events: none;
  path {stroke: $red; }
}

text.kaiti, g.kaiti{
  @include user-cant-select();
  @extend .kaiti;
  color: #dd4444;
  font-size: 30px;
}

g.river{
  text {
    fill: #dd4444;
  }
}
/* end of Board Related */

.menu {
  .activePlayer p.output{
    text-align: center;
    background: navajowhite;
  }

  .menu-options {
  }

  p.lbl {
    text-align: center;
    width: 100%;
    margin: 20px 0;
    padding: 7px;
    background: rgb(254,204,177); /* Old browsers */
    color: black;
  }

  button{
    width: 100%;
    margin: 10px 0;
    padding: 7px;
    letter-spacing: 2px;
  }
}

.Main {
  transition: padding 0.3s ease;
  &.is-open {
    padding-left: 256px;
  }

}

// utility
.align-left { text-align: left; }
.align-right { text-align: right; }

.z0 { z-index: 0}
.zmin { z-index: 1}
.zmid { z-index: 5000}
.zmax { z-index: 9999}